/* *{
    margin:0;
    padding:0;
    box-sizing:border-box;
} */
.container {
  /* display:flex; */
  justify-content: center;
  align-items: center;
}
form {
  width: 70%;
}
.top-heading {
  text-align: center;
  margin-top: 1.5%;
  justify-content: center;
  margin-right: 2%;
}
.input-container {
  width: 100%;
  /* display:flex; */
  justify-content: center;
  align-items: center;
  margin-left: 60%;
}
.inputBox {
  width: 70%;
  height: 40px;
  border: none;
}
body {
  background-color: bisque;
}

#check {
  margin-right: 1%;
  background-color: azure;
  border-radius: 10%;
  border-right: solid;
  border-color: aquamarine;
  margin-left: 60%;
}
#delete {
  margin-right: 3%;
  background-color: azure;
  border-color: aquamarine;
  border-radius: 10%;
  border-right: solid;
}
#add {
  margin-left: 10px;
}
